<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOOKHUB</title>
    <link rel="stylesheet" href="/Static/style/index/dropdown.css" />
    <link rel="stylesheet" href="/Static/style/auther/navauth.css" />
    <link rel="stylesheet" href="/Static/style/auther/homeauth.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body class="custom-background">
    <!-- Header -->
    <header>
      <nav class="navbar">
        <li class="logo">
          <a href="/Views/homepage/index.html">
            <img src="/Static/imagines/logo.png" alt="Logo" class="nav-logo" />
          </a>
        </li>
        <li class="dropdown">
          <a href="#"> <i class="fa-solid fa-user"></i> Tài Khoản </a>
          <ul class="dropdown-menu">
            <li><a href="/Views/homepage/login.html">Đăng Xuất</a></li>
            <li><a href="/Views/auth/newtruyen.htm">Thêm Truyện Mới</a></li>
            <li><a href="/Views/auth/listtruyen.html">Danh Sách Truyện</a></li>
          </ul>
        </li>
      </nav>
    </header>
    <script>
      async function fetchUserInfo() {
        const token = localStorage.getItem("token");

        if (token) {
          // Giải mã token để lấy thông tin user
          const decodedToken = jwt_decode(token);
          const userID = decodedToken.sub; // Giả sử userID lưu trong trường `sub` của token

          console.log("User ID:", userID);

          // Tiến hành gửi dữ liệu với userID
          fetch("http://localhost:8081/protected/profile", {
            method: "POST",
            headers: {
              Authorization: "Bearer " + token,
            },
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              console.log("Upload successful:", data);
            })
            .catch((error) => {
              console.error("Error uploading:", error);
            });
        } else {
          console.log("User not logged in");
        }
      }
    </script>
    <!-- Link JavaScript -->
    <script src="/Static/smooth/dropdown.js"></script>
    <script src="/Static/smooth/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
  </body>
</html>
