<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOOKHUB</title>
    <link rel="stylesheet" href="/Static/style/index/dropdown.css" />
    <link rel="stylesheet" href="/Static/style/auther/homeauth.css" />
    <link rel="stylesheet" href="/Static/style/auther/navauth.css" />
    <link rel="stylesheet" href="/Static/style/auther/newchap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav class="navbar">
        <li class="logo">
          <a href="/Views/homepage/index.html">
            <img src="/Static/imagines/logo.png" alt="Logo" class="nav-logo" />
          </a>
        </li>
        <li class="dropdown">
          <a href="#"> <i class="fa-solid fa-user"></i> Tài Khoản </a>
          <ul class="dropdown-menu">
            <li><a href="/Views/homepage/login.html">Đăng Xuất</a></li>
            <li><a href="/Views/auth/newtruyen.htm">Thêm Truyện Mới</a></li>
            <li><a href="/Views/auth/newtruyen.htm">Thêm Bản Thảo</a></li>
            <li><a href="/Views/auth/newtruyen.htm">Danh Sách Truyện</a></li>
          </ul>
        </li>
      </nav>
    </header>
    <!-- Nội dung chính -->
    <div class="form-container">
      <form>
        <div class="form-group">
          <label for="the-loai">Tên truyện</label>
          <select id="the-loai" name="the-loai">
            <option value="" disabled selected>Vui lòng chọn</option>
          </select>
        </div>
        <div class="form-group">
          <label for="the-loai">Tên chương</label>
          <input
            type="text"
            id="ten-chuong"
            name="ten-chuong"
            placeholder="Nhập tên chuong"
          />
        </div>
        <div class="form-group">
          <label for="gioi-thieu">Nội dung</label>
          <textarea
            id="gioi-thieu"
            name="gioi-thieu"
            placeholder="Nhập nội dung"
          ></textarea>
        </div>
      </form>
    </div>
    <!-- Link JavaScript -->
    <script src="/Static/smooth/dropdown.js"></script>
  </body>
</html>
