<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý User</title>
    <link rel="stylesheet" href="/Static/style/admin/user.css" />
    <link rel="stylesheet" href="/Static/style/admin/index1.css" />
  </head>
  <body>
    <div class="header">
      <p>Xin chào: admin</p>
      <a href="/Views/homepage/login.html" class="logout">Đăng xuất</a>
    </div>

    <nav class="navbar">
      <a href="/Views/admin/index1.html">Trang chủ</a>
      <a href="/Views/admin/theloai.html">Quản lý thể loại</a>
      <a href="/Views/admin/user.html">Quản lý user</a>
      <a href="/Views/admin/slide.html">Quản lý Slide</a>
      <a href="/Views/admin/decu.html">Đề cử</a>
      <a href="/Views/admin/xephang.html">Xếp hạng</a>
    </nav>
  </body>
</html>
