.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Media Query cho màn hình nhỏ hơn 768px */
@media (max-width: 768px) {
  .banner {
    width: 50%; /* Giảm chiều rộng thêm cho màn hình nhỏ */
    height: 10vh; /* Giảm chiều cao banner cho màn hình nhỏ */
  }
}

/* Media Query cho màn hình nhỏ hơn 576px */
@media (max-width: 576px) {
  .banner {
    width: 40%; /* Giảm chiều rộng thêm cho màn hình cực nhỏ */
    height: 10vh; /* Giảm chiều cao banner thêm nữa cho màn hình cực nhỏ */
  }
}
