<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOOKHUB</title>
    <link rel="stylesheet" href="/Static/style/reader/read.css" />
    <link rel="stylesheet" href="/Static/style/index/footer.css" />
    <link rel="stylesheet" href="/Static/style/index/nav.css" />
    <link rel="stylesheet" href="/Static/style/index/banners.css" />
    <link rel="stylesheet" href="/Static/style/reader/btn.css" />
    <link rel="stylesheet" href="/Static/style/index/dropdown.css" />
    <link rel="stylesheet" href="/Static/style/index/popup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav>
        <ul>
          <li class="logo">
            <a href="#"
              ><img src="/Static/imagines/logo.png" alt="Logo" class="nav-logo"
            /></a>
          </li>
          <li class="dropdown">
            <a href="#">
              <i class="fas fa-bars"></i> Thể Loại
              <!-- Icon cho thể loại -->
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Linh Hồn</a></li>
              <li><a href="#">Kinh Dị</a></li>
              <li><a href="#">Phiêu Lưu</a></li>
              <li><a href="#">Khoa Học</a></li>
            </ul>
          </li>
          <li>
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Tìm kiếm tác giả, tên truy..." />
          </li>
          <li class="dropdown">
            <a href="#">
              <i class="fa-solid fa-user"></i> Name
              <!-- Icon cho thể loại -->
            </a>
            <ul class="dropdown-menu">
              <li><a href="/Views/homepage/login.html">Đăng Xuất</a></li>
              <li><a href="/Views/homepage/register.html">Đăng Truyện</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <div class="banner">
      <img src="/Static/imagines/banner.jpg" alt="Banner", width="1150px">
    </div>
    <!-- Nội dung chính -->
    <div class="container">
      <main>
        <section class="ds-truyen">
          <!-- Mỗi mục truyện -->
           
          <div class="truyen-item1">
            <img src="/Static/imagines/300.jpg" alt="Truyện 1" />
            <div>
              <div class="info">
                <h4>Nghịch Thiên Tà Thần</h4>
                <p>Tác giả: Hoa Thảo Miu</p>
                <p>Thể loại: Huyền Ảo</p>
                <p>Tổng chương: 106</p>
                <p>Trạng thái: đang cập nhập</p>
                <p>Đánh giá:3.5/5</p>
              </div>
              <!-- Di chuyển nút xuống đây -->
              <div class="btn">
                <button class="top-btn" type="submit">
                  <i class="fa-solid fa-plus"></i>Theo Dõi
                </button>
                <button onclick="scrollToSection('section4')"class="top-btn" type="submit">
                  <i class="fa-solid fa-folder"></i>Mục Lục
                </button>
                <button  onclick="scrollToSection('section2')"class="top-btn" type="submit">
                  <i class="fa-regular fa-star"></i>Đánh Giá
                </button>
                <button  onclick="scrollToSection('section3')"class="bottom-btn" type="submit">
                  <i class="fa-regular fa-message"></i>Thảo Luận
                </button>
                <button  onclick="scrollToSection('section1')" class="bottom-btn" type="submit">
                  <i class="fa-regular fa-heart"></i>Giới Thiệu
                </button>
                <button class="bottom-btn" type="submit">
                  <i class="fa-brands fa-readme"></i>Đọc Truyện
                </button>
              </div>
              <!--Truyen cùng tác giả-->
              <div class="truyen-tg">
                  <h3>Truyện cùng tác giả</h3>
                  <div class="content-scroll">
                    <p><a href="https://example.com" target="_blank">Truyện 1</a></p>
                    <p><a href="https://example.com" target="_blank">Truyện 2</a></p>
                    <p><a href="https://example.com" target="_blank">Truyện 3</a></p>
                    <p><a href="https://example.com" target="_blank">Truyện 4</a></p>
                    <p><a href="https://example.com" target="_blank">Truyện 5</a></p>
                    <p><a href="https://example.com" target="_blank">Truyện 5</a></p>
                    <p><a href="https://example.com" target="_blank">Truyện 5</a></p>
                    <p><a href="https://example.com" target="_blank">Truyện 5</a></p>
                    <p><a href="https://example.com" target="_blank">Truyện 5</a></p>
                    <p><a href="https://example.com" target="_blank">Truyện 5</a></p>
                    <p><a href="https://example.com" target="_blank">Truyện 5</a></p>
                    <!-- Thêm nhiều đoạn văn bản ở đây -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="khoi-xam"id="section1">
            <h4>Giới thiệu</h4>
          </div>
          <div class="post">
            <p id="post-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </section>
        <section>
          <div class="khoi-xam"id="section4">
            <h4>Mục Lục <button id="openPopup">xem thêm>></button></h4>
          </div>
          <div class="dschuong">
            <div id="popup" class="popup">
              <div class="popup-content">
                <span class="close" id="closePopup">&times;</span>
                <h2>Danh sách chương</h2>
                <button id="reverse-btn"><img src="/Static/imagines/icon/up-down.png"class="icon-up-down" alt="Up Down Icon" /></button>
                <table class="popup-table">
                  <tbody id="chapter-list">
                    <tr>
                      <td><a href="https://www.example1.com">Chương 1: hàhhafhhaf</a></td>
                    </tr>
                    <tr>
                      <td><a href="https://www.example1.com">Chương 2: hàhhafhhaf</a></td>
                    </tr>
                    <tr>
                      <td><a href="https://www.example1.com">Chương 3: hàhhafhhaf</a></td>
                    </tr>
                    <tr>
                      <td><a href="https://www.example1.com">Chương 4: hàhhafhhaf</a></td>
                    </tr>
                    <tr>
                      <td><a href="https://www.example1.com">Chương 5: hàhhafhhaf</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <table>
            <tr>
              <td><a href="https://www.example1.com">Chương 1:hàhhafhhaf</a></td>
              <td><a href="https://www.example1.com">Chương 2:hàhhafhhaf</a></td>
              <td><a href="https://www.example1.com">Chương 3:hàhhafhhaf</a></td>
            </tr>
          </table>
        </section>
        <section>
          <div class="khoi-xam1"id="section2">
            <h4>Đánh Giá</h4>
          </div>
          <div class="post">
            <p id="post-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </section>
        <section>
          <div class="khoi-xam1"id="section3">
            <h4>Thảo Luận</h4>
          </div>
          <div class="post">
            <p id="post-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </section>
      </main>
    </div>
  </body>
  <!-- Link JavaScript -->
  <script src="/Static/smooth/dropdown.js"></script>
  <script src="/Static/smooth/popup.js"></script>
  <script src="/Static/smooth/reverse-btn.js"></script>
  <script src="/Static/smooth/smooth.js"></script>
  <!-- Footer -->
  <footer>
    <div class="footer-content">
      <div class="footer-section about">
        <p>
          Đây là trang web truyện chuyên cung cấp các bộ truyện nổi tiếng, cập
          nhật hàng ngày.
        </p>
      </div>
    <div class="footer-bottom">
      <p>&copy; 2024 BookHub. Nhâm Mạnh Cường.</p>
    </div>
  </footer>
</html>
