<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOOKHUB</title>
    <link rel="stylesheet" href="/Static/style/reader/read.css" />
    <link rel="stylesheet" href="/Static/style/index/footer.css" />
    <link rel="stylesheet" href="/Static/style/index/nav.css" />
    <link rel="stylesheet" href="/Static/style/index/banners.css" />
    <link rel="stylesheet" href="/Static/style/reader/btn.css" />
    <link rel="stylesheet" href="/Static/style/index/dropdown.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav>
        <ul>
          <li class="logo">
            <a href="#"
              ><img src="/Static/imagines/logo.png" alt="Logo" class="nav-logo"
            /></a>
          </li>
          <li class="dropdown">
            <a href="#">
              <i class="fas fa-bars"></i> Thể Loại
              <!-- Icon cho thể loại -->
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Linh Hồn</a></li>
              <li><a href="#">Kinh Dị</a></li>
              <li><a href="#">Phiêu Lưu</a></li>
              <li><a href="#">Khoa Học</a></li>
            </ul>
          </li>
          <li>
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Tìm kiếm tác giả, tên truy..." />
          </li>
          <li class="dropdown">
            <a href="#">
              <i class="fa-solid fa-user"></i> Name
              <!-- Icon cho thể loại -->
            </a>
            <ul class="dropdown-menu">
              <li><a href="/Views/homepage/login.html">Đăng Xuất</a></li>
              <li><a href="/Views/homepage/register.html">Đăng Truyện</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <div class="banner">
      <img src="/Static/imagines/banner.jpg" alt="Banner", width="1150px">
    </div>
    <!-- Nội dung chính -->
    <div class="container">
      <main>
        <section class="ds-truyen">
          <!-- Mỗi mục truyện -->
           
          <div class="truyen-item1">
            <img src="/Static/imagines/300.jpg" alt="Truyện 1" />
            <div>
              <div class="info">
                <h4>Nghịch Thiên Tà Thần</h4>
                <p>Tác giả: Hoa Thảo Miu</p>
                <p>Thể loại: Huyền Ảo</p>
                <p>Tổng chương: 106</p>
                <p>Trạng thái: đang cập nhập</p>
              </div>
              <!-- Di chuyển nút xuống đây -->
              <div class="btn">
                <button class="top-btn" type="submit">
                  <i class="fa-solid fa-plus"></i>Theo Dõi
                </button>
                <button class="top-btn" type="submit">
                  <i class="fa-solid fa-folder"></i>Mục Lục
                </button>
                <button class="top-btn" type="submit">
                  <i class="fa-regular fa-star"></i>Đánh Giá
                </button>
                <button class="bottom-btn" type="submit">
                  <i class="fa-regular fa-message"></i>Thảo Luận
                </button>
                <button class="bottom-btn" type="submit">
                  <i class="fa-regular fa-heart"></i>Giới Thiệu
                </button>
                <button class="bottom-btn" type="submit">
                  <i class="fa-brands fa-readme"></i>Đọc Truyện
                </button>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="khoi-xam">
            <h4>Giới Thiệu</h4>
          </div>
          <div class="post">
            <p id="post-content">Nội dung bài viết sẽ hiển thị ở đây.</p>
          </div>
        </section>
        <section>
          <div class="khoi-xam">
            <h4>Mục Lục</h4>
          </div>
          <div class="post">
            <p id="post-content">Nội dung bài viết sẽ hiển thị ở đây.</p>
          </div>
        </section>
        <section>
          <div class="khoi-xam">
            <h4>Đánh Giá</h4>
          </div>
          <div class="post">
            <p id="post-content">Nội dung bài viết sẽ hiển thị ở đây.</p>
          </div>
        </section>
        <section>
          <div class="khoi-xam">
            <h4>Thảo Luận</h4>
          </div>
          <div class="post">
            <p id="post-content">Nội dung bài viết sẽ hiển thị ở đây.</p>
          </div>
        </section>
      </main>
    </div>
  </body>
  <!-- Link JavaScript -->
  <script src="/Static/smooth/dropdown.js"></script>
  <!-- Footer -->
  <footer>
    <div class="footer-content">
      <div class="footer-section about">
        <p>
          Đây là trang web truyện chuyên cung cấp các bộ truyện nổi tiếng, cập
          nhật hàng ngày.
        </p>
      </div>
    <div class="footer-bottom">
      <p>&copy; 2024 BookHub. Nhâm Mạnh Cường.</p>
    </div>
  </footer>
</html>
